<p class="bg-info">KONTAKTIRAJTE NAS</p>

<form>
  <div class="form-group">
    Naša adresa:
	Elektrotehnički fakultet Sarajevo, Zmaja od Bosne bb,<br/> Kampus Univerziteta u Sarajevu, 71000 Sarajevo
	<hr/><br/>Kontakt informacije:
Tel: ++387 33 250 700 <br/>Fax: ++387 33 250 725 <br/>Email: etf@etf.unsa.ba
  </div>
</form>
{{outlet}}
